
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.DotSettings
packages/
TestResults/
[Tt]est[Rr]esult*/
_ReSharper*/
*.ReSharper*
*.nupkg
*.snk
*.bak
*.swp
*~
.DS_Store
data/
